body {
    background: #222831;
    color: white;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #efbb35;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #000;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #efbb35;
  }
  
  .site-header .title-header .navbar-nav .nav-link:hover {
    color: #efbb35;
  }

  .navbar-brand {
    color: #efbb35 !important;
  }

.mr-2 {
  color: #efbb35 !important;
}
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  
  
  .content-section {
    background: #44484e;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #ebd5aa;
    font-size: 1.4rem;
  }
  
  a.article-title:hover {
    color: #efbb35;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 1.5rem;
  }